### IDEA ###
.idea/
*.iml

### RUST ###
/target/
Cargo.lock
**/*.rs.bk

### PYTHON ###
__pycache__/
python/__pycache__/
python/*.py[cod]
python/*$py.class
python/*.so
python/.Python
python/build/
python/develop-eggs/
python/dist/
python/downloads/
python/eggs/
python/.eggs/
python/lib/
python/lib64/
python/parts/
python/sdist/
python/var/
python/wheels/
python/share/python-wheels/
python/*.egg-info/
python/.installed.cfg
python/*.egg
python/MANIFEST
python/*.manifest
python/*.spec
python/pip-log.txt
python/pip-delete-this-directory.txt
python/htmlcov/
python/.tox/
python/.nox/
python/.coverage
python/.coverage.*
python/.cache
python/nosetests.xml
python/coverage.xml
python/*.cover
python/*.py,cover
python/.hypothesis/
python/.pytest_cache/
python/cover/
python/*.mo
python/*.pot
python/*.log
python/local_settings.py
python/db.sqlite3
python/db.sqlite3-journal
python/instance/
python/.webassets-cache
python/.scrapy
python/docs/_build/
python/.pybuilder/
python/target/
python/.ipynb_checkpoints
python/Pipfile.lock
python/__pypackages__/
python/.env
python/.venv
python/env/
python/venv/
python/ENV/
python/env.bak/
python/venv.bak/
python/site
python/.mypy_cache/
python/.dmypy.json
python/dmypy.json
python/.pyre/
python/.pytype/
python/cython_debug/
