[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
more-itertools = "*"
networkx = "*"
numpy = "*"
ortools = "*"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.8"
